$font-color: #262626;
$font-color-l: #999797;
$font-color-ll: #3b3b3b;

$orange: #ff6900;
$orange-d: #b24900;

// $menu-color: #229a9b;
// $menu-color: #999797;
$menu-color: #e6e6e6;

// $bg: #e6e6e6;
$bg: #999797;
$blue-gray: #b6bcc9;

$teal: #7ac2c3;
$teal-l-1: #a6d6d7;
$teal-l-2: #d2eaeb;
